<!doctype html>
<html lang="en" prefix="og:http://ogp.me/ns#">
  <head>
    <title>We 🧡 Tosh</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="../styles/theme.css"/>
  </head>

  <body>
    <main>
      <h1 class="underline text-center text-2xl mb-4 mt-4">We 🧡 Tosh</h1>
      <page-outlet></page-outlet>
    </main>
  </body>
</html>
