<!doctype html>
<html lang="en" prefix="og:http://ogp.me/ns#">
  <head>
    <title>We 🧡 Tosh</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="../styles/theme.css"/>
    <script type="module" src="../components/footer/footer.ts"></script>
  </head>

  <body>
    <main>
      <h1 class="underline text-center text-2xl mb-4 pt-4">We 🧡 Tosh</h1>

      <page-outlet></page-outlet>

      <hr class="border-yellow-600 w-1/3 block mt-6 mb-6 ml-auto mr-auto">

      <ts-footer></ts-footer>
    </main>
  </body>
</html>